.admin-dashboard-quiz-services {
    margin: 40px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.admin-dashboard-quiz-services button{
    background-color: orangered;
    width: 300px;
    margin-top: 30px;
    font-size: 20px;
    color: aqua
}

h1{
  text-align: center;
}
