.navbar {
    position: sticky;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: rgb(46, 46, 194); */
  }
  /* .navbar .log0 {
    width: 50%;
  } */
  
  
  .navbar .nav-links {
    /* width: 30%; */
    margin-right: 20px;
    
    display: flex;
    justify-content: space-between;
  }
  
  .nav-links a {
    font-family: "Playfair Display", serif;
    text-decoration: none;
    font-size: 30px;
    /* padding-right: 30px; */
    font-weight: bold;
    color: rgb(13, 241, 249);
  }

  .nav-links a button{
    background-color: #1976d2;
    color: white !important;
  }