.navbar-user {
  position: sticky;
  padding: 20px 40px 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(46, 46, 194);
}

.navbar-user .logo img {
  width: 25%;
}

.navbar-user .nav-links {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

